<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>项目模板.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E60F3A941E1B7DD9001244E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E60F3AAD1E1B7DD9001244E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E60F3AB81E1B7DD9001244E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
